// ────────────── Startup Applications ──────────────
// https://github.com/YaLTeR/niri/wiki/Configuration:-Miscellaneous#spawn-sh-at-startup

    spawn-sh-at-startup "noctalia -d"
    spawn-sh-at-startup "sudo -n /usr/local/bin/_autologin-self"
